.albumContainer {
	width: 100%;
	padding: 3.75em 7.8125%;
	overflow: hidden;
	a {
		display: block;
		float: left;
		margin: 0 7.29167% 3.5em 0;
		width: 15.625%;
		text-align: center;
		text-decoration: none;
		img {
			clear: both;
			display: block;
			width: 100%;
		}
		p {
			margin: 0.625em 0 0;
			color: $grey40;
			font-size: 0.875em;
		}
	}
	a:nth-child(4n+0) {
		margin-right: 0;
	}
}