.albumContainer {
	width: 100%;
	.albums {
		width: auto;
		padding: 3.75em 5% 0;
		overflow: hidden;
		a, .albumToAddTo {
			display: block;
			float: left;
			margin: 0 5% 3.5em 0;
			width: 21.25%;
			text-align: center;
			text-decoration: none;
			img {
				clear: both;
				display: block;
				width: 100%;
			}
			p {
				margin: 0.625em 0 0;
				color: $grey40;
				font-size: 0.875em;
			}
			&:nth-child(4n+0) {
				margin-right: 0;
			}
		}
	}
	.albumIcon {
		.albums {
			width: auto;
			padding: 0 5% 3.75em;
		}
	}
}

.albumMessage {
	color: $melon;
	margin-left: 37px;
  	margin-top: 34px;
}

.selectedAlbum {
    box-shadow: 0 0 0 4px $melon;
    -webkit-box-shadow: 0 0 0 4px $melon;
}

