#botImgActions {
	background-color:$grey40;
	position: fixed;
	left:0px;
    bottom:0px;
	width:786px;
	height:62px;

	ul {
		position: relative;
		margin:0px 133px;

		li {
			margin-top:15px;
			float:left;
			width:120px;
			list-style: none;
			text-align: center;
			font-size:$h6-size;
		}	
	}

	.jtIcons{	
		position:center;
		display: inline-block;
		font-family: $iconfont;
		color: $grey200;
		margin:0px 30px;
		font-size:24px;	
	}

	a {
		color: $grey200;
		text-decoration: none;
	}

}