#botMainNav {
	.jtIcons{	
				display: block;
				font-family: $iconfont;
				color: $grey200;
				margin:0px 30px;
				font-size:24px					
	}

	a{
		color: $grey200;
		text-decoration: none;
	}

}
#botMainNav {

	background-color:$grey40;
	position: fixed;
	left:0px;
    bottom:0px;
	width:100%;
	height:62px;



}
#botMainNav ul{
			width:600px;
			margin: 15px auto 0px auto;


}

#botMainNav li{
		float:left;
		width:100px;
		list-style: none;
		text-align: center;
		font-size:$h6-size;



}