#childNav {
    overflow: hidden;
    width:100%;
    margin-top: 1em;
    ul {
        padding:0px;
        margin:0px;
        li {
            float: left;
            list-style: none;
            width: 25%;
            padding: 0;
            text-align: center;
            font-size:$h4-size;
            box-sizing: border-box;
            border-left: 2px $melon solid;
            a {
                display: block;
                padding: 15px 0;
                color: #fff;
                text-decoration: none;
                background-color:$tint-melon;
            }
            &:first-child {        
                border-left: none;
            }
            &.active {     
                    background-color:$tone-melon;
            }
        }
    }
}

.childheader {
    z-index: 1;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em 0 0;
    background: $melon;
    text-align: center;
    -webkit-transition: height 0.35s;
    -moz-transition: height 0.35s;
    transition: height 0.35s;
    .childMasthead {
        width: 100%;
        margin-bottom: 1em;
        .childTreeIcon {
            position: absolute;
            top: 1em;
            left: 1em;
            color: #fff;
            font-family: $iconfont;
            line-height: $top-title;
        }
    }
    &.shrink {
        h3 {
            font-size: 0;
            -webkit-transition: all 0.35s;
            -moz-transition: all 0.35s;
            transition: all 0.35s;
        }
        img {
            width: 5%;
            -webkit-transition: all 0.35s;
            -moz-transition: all 0.35s;
            transition: all 0.35s;
        }
    }
    h3 {
        padding-top: 1em;
        font-family: $museo;
        font-weight: 500;
        -webkit-transition: all 0.35s;
        -moz-transition: all 0.35s;
        transition: all 0.35s;
    }
    img {
        width: 23%;
        border: 3px solid $white;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        -webkit-transition: all 0.35s;
        -moz-transition: all 0.35s;
        transition: all 0.35s;
    }
}