.headerPlaceholder {
	top: 0;
	height: 64px;
	background: $melon;
	p {
		margin: 0;
		padding-top: 20px;
		color: #FFF;
		text-align: center;

		label {
			padding: 0px 25px 0;
  			float: right;		
  		}
	}
}

.editSection {
	display: block;
	color: $melon;
	text-align: left;
	
	p {
		color: #333;
	}

	ul {
		list-style-type: none;
		text-align: left;
		padding: 0;
		margin: 0;
	}

}

.editImageTextArea {
	div {
		color: #333;
		margin-top: 20px;
	}
}

.classGallery {
	clear: both;
	width: 100%;
	padding-top: 90px;
	p {
		padding: 0 25px;
		color: $grey40;
	}
	div.thumbnail, .mainModal, a {
		float: left;
		width: 19.53125%;
		margin-right: 0.5859375%;
		margin-bottom: 5px;
		padding: 0;
		img {
			display: block;
			width: 100%;
		}
		&:nth-child(5n+0) {
			margin-right: 0;
		}
		textarea {
			float: left;
		}
	}
}

.mainImageSection {
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	text-align: center;
	text-shadow: none;
	padding-top: 90px;
	padding-bottom: 100px;
	z-index: 0;
	margin: 0 auto;
	transform: scale(1.0);
	width: 100%;
	height: 100%;
	box-sizing: border-box;

	.shrinkContainer {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
	}

	.mainImage {
		background-size: cover;
		width: 100%;
		height: 100%;
	}
}




.classGallery input {
	position: absolute;
	top: -1000px;
}


.mainImageSection {
	opacity: 0;
	transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	z-index: -100;
}

.mainImageContainer {
	width: 100%;
	height: 100%;
}
.greyText {
	color: $grey200;
}

.arrange-horizontally {
//    display: inline-block;
//    text-align: center;
		float: left;
		width: 31.53125%;
		margin-right: 0.5859375%;
		margin-bottom: 5px;
		padding: 0;
		img {
			display: block;
			width: 100%;
		}
		&:nth-child(5n+0) {
			margin-right: 0;
		}
}
.arrange-vertically {
    display: block;
}
