#classroom {
	width: 100%;
}

.headerPlaceholder {
	top: 0;
	height: 64px;
	background: $melon;
	p {
		margin: 0;
		padding-top: 20px;
		color: #FFF;
		text-align: center;

		label {
			padding: 0px 25px 0;
  			float: right;		
  		}
	}
}

.editSection {
	display: block;
	color: $melon;
	text-align: left;
	border-top: 3px solid $melon;
	// position: absolute;
	// top: 54.9%;
	padding-bottom: 62px;
	margin-bottom: 112px;
	
	p {
		color: #333;
		padding-left: 10px;	
	}

	ul {
		list-style-type: none;
		text-align: left;
		margin: 0;
		padding: 0;
	}

	.profileTagsSection {
		margin: 10px 0;
	}

	.edit {
		padding: 0 20px;
	}

	.postBtnContainer {
		text-align: center;
		padding: 20px 0;

		.postBtn {
			background: none;
			border: 1px solid $melon;
			color: $melon;
			font-size: 20px;
			padding: 10px 40px;
			width: 40%;
			border-radius: 40px;
		}
	}

}

.editImageTextArea {
	div {
		color: #333;
		margin-top: 20px;
	}
}

.classGallery {
	width: 100%;
	padding: 20px 5px 0;
	box-sizing: border-box;
	p {
		color: $grey40;
	}
	&:first-child {
		margin-top: 70px;
	}
	&:last-child {
		margin-bottom: 62px;
	}
	div.thumbnail, .mainModal, a {
		margin-bottom: 5px;
		padding: 0;
		display: inline-block;
		vertical-align: top;
		width: 19.53%;
		img {
			display: block;
			width: 100%;
		}
		&:nth-child(5n+0) {
			margin-right: 0;
		}
		textarea {
			float: left;
		}
	}

	.thumbnailContainer {
		margin-bottom: 5px;
		padding: 0;
		display: inline-block;
		vertical-align: top;
		width: 19.6%;
		
		img {
			display: block;
			width: 100%;
		}
		&:nth-child(5n+0) {
			margin-right: 0;
		}
	}
}

.childGallery {
	.classGallery {
		&:first-child {
			margin-top: 403px;
		}
	}
}

.mainImageSection {
	/*bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	text-align: center;
	text-shadow: none;
	padding-top: 90px;
	padding-bottom: 61px;
	z-index: 0;
	margin: 0 auto;
	transform: scale(1.0);
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	position: fixed;*/
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	padding: 90px 0 61px 0;
	z-index: 1;

	.shrinkContainer {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
	}

	.mainImage {
		background-size: cover;
		width: 100%;
		height: 100%;
	}
}




.classGallery input {
	position: absolute;
	top: -1000px;
}


/*.mainImageSection {
	opacity: 0;
	transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	z-index: -100;
}*/

.mainImageContainer {
	width: 100%;
	height: 100%;
	
}
.greyText {
	color: $grey200;
}

.arrange-horizontally {
	display: inline-block;
	vertical-align: middle;
	width: 31.53125%;
	margin-right: 0.5859375%;
	margin-bottom: 5px;
	padding: 0;
	img {
		display: block;
		width: 100%;
	}
	&:nth-child(5n+0) {
		margin-right: 0;
	}
}

.modal a.close-modal[class*="icon-"] {
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  color: #fff;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  background: #900;
  border: 2px solid #fff;
  -webkit-border-radius:  26px;
  -moz-border-radius:     26px;
  -o-border-radius:       26px;
  -ms-border-radius:      26px;
  -moz-box-shadow:    1px 1px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  box-shadow:         1px 1px 5px rgba(0,0,0,0.5);
}

.modalMsg {
  	color: #000;
  	margin: 34px;
}

.modalBtn {
  	color: $dark-melon;
	border: 2px solid $dark-melon;
	-webkit-border-radius:  26px;
	-moz-border-radius:     26px;
	-o-border-radius:       26px;
	-ms-border-radius:      26px;
    margin-left: auto;
    margin-right: auto;
	width: 50%;
  	text-align: center;
  	padding: 13px;
}

.modalCancel {
	color: $melon;
    text-decoration: none;
    float: right;
}

.addedFramework {
	display: inline-block;
  	color: $grey120;
  	background-color: $grey240;
	-webkit-border-radius:  26px;
	-moz-border-radius:     26px;
	-o-border-radius:       26px;
	-ms-border-radius:      26px;
    margin-left: 14px;
    margin-top: 10px;
	width: 33%;
  	text-align: center;
  	padding: 5px;
}

