
/* Styling */


@font-face {
  font-family: "jt-icons";
  src:url("../fonts/jt-iconfont.svg") format("svg");
  src:url("../fonts/jt-iconfont.eot") format("embedded-opentype"),
    url("../fonts/jt-iconfont.woff") format("woff"),
    url("../fonts/jt-iconfont.ttf") format("truetype"),
    url("../fonts/jt-iconfont.eot");
    
  font-weight: normal;
  font-style: normal;

}

html body {
	margin: 0;
	padding: 0;
	height: 100%;
	color: #fff;
	font-family: myriad pro, arial, sans-serif;
	font-weight: lighter;
}


.topTitle {
	// font-family:$iconfont;
	font-size: $profile-title;
	font-weight: normal;
}


.profileTitle {
	// font-family:$iconfont;
	font-size: $top-title;
	font-weight: normal;
}


h1 {
	// font-family:$iconfont;
	font-size: $h1-size;
	font-weight: normal;
}

h2 {
	// font-family:$iconfont;
	font-size: $h2-size;
	font-weight: normal;
}

h3 {
	// font-family:$iconfont;
	font-size: $h3-size;
	font-weight: normal;
}

h4 {
	// font-family:$iconfont;
	font-size: $h4-size;
	
	font-weight: normal;
}
h5 {
	// font-family:$iconfont;
	font-size: $h5-size;
	font-weight: normal;
}

h6 {
	// font-family:$iconfont;
	font-size: $h6-size;
	font-weight: normal;
}