
/* Styling */

html body {
	margin: 0;
	padding: 0;
	height: 100%;
	color: #fff;
	font-family: myriad pro, arial, sans-serif;
}

h1 {
	font-size: 85px;
	font-weight: normal;
}

h2 {
	font-size: 25px;
	font-weight: normal;
	margin-top: -45px;
}