
/* Styling */
@font-face {
  font-family: "jt-icons";
  src:url("../fonts/jt-iconfont.eot");
  src:url("../fonts/jt-iconfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/jt-iconfont.woff") format("woff"),
    url("../fonts/jt-iconfont.ttf") format("truetype"),
    url("../fonts/jt-iconfont.svg#jt-iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

html body {
	margin: 0;
	padding: 0;
	height: 100%;
	color: #fff;
	font-size: 1em;
	font-family: myriad pro, arial, sans-serif;
	font-weight: lighter;
}
html {
    -webkit-font-smoothing: antialiased;
}

.topTitle {
	// font-family:$iconfont;
	font-size: $profile-title;
	font-weight: normal;
	text-align: center;
}


.profileTitle {
	// font-family:$iconfont;
	font-size: $top-title;
	font-weight: normal;
}

h1, h2, h3 ,h4 ,h5 ,h6 {
	margin:0px;
	padding:0px;
}

h1 {
	// font-family:$iconfont;
	font-size: $h1-size;
	font-weight: 300;
	font-family: $museo;
}

h2 {
	// font-family:$iconfont;
	font-size: $h2-size;
	font-weight: normal;
}

h3 {
	// font-family:$iconfont;
	font-size: $h3-size;
	font-weight: normal;
}

h4 {
	// font-family:$iconfont;
	font-size: $h4-size;
	
	font-weight: normal;
}
h5 {
	// font-family:$iconfont;
	font-size: $h5-size;
	font-weight: normal;
}

h6 {
	// font-family:$iconfont;
	font-size: $h6-size;
	font-weight: normal;
}