<<<<<<< HEAD
#headerNav {
=======
#headerNav { 
>>>>>>> master
	background-color:$melon;
	width:100%;
	height:40px;
	padding-top:50px;
<<<<<<< HEAD
	.jtIcons{	
				position:center;
				display: inline-block;
				font-family: $iconfont;
				color: #fff;
				font-size:28px;
				line-height: $top-title;		
=======

	.jtIcons {
		position:center;
		display: inline-block;
		font-family: $iconfont;
		color: #fff;
		font-size:28px;
		line-height: $top-title;
>>>>>>> master
	}

	a {
		color: #fff;
		text-decoration: none;
	}

	h1, h5 {
		line-height: $top-title;
	}

<<<<<<< HEAD
}
.left {

	float: left;
		width:10%;
	text-align: center;
}

.middle {
	display: inline-block;
	float: left;
	width:80%;
	text-align: center;
	margin: 0px auto;
}
.right {

	float: right;
	width:10%;
	text-align: center;
=======
	.left {
		float: left;
		width:10%;
		text-align: center;
	}

	.middle {
		display: inline-block;
		float: left;
		width:80%;
		text-align: center;
		margin: 0px auto;
	}

	.right {
		float: right;
		width:10%;
		text-align: center;
	}

>>>>>>> master
}
