/* Global Sidebar Styling */

.sidebar {
	position: absolute;
	height: 100%;
	width: 320px;
	background-color: #333;
	box-sizing: border-box;
}

/* Main Sidebar */

#mainSidebar {
	background-color: $melon;
	
}

.searchContainer {

	margin-bottom: 40px;
	padding: 40px 40px 0 40px;

	.searchIcon {
		font-family: $iconfont;
		font-size: 18px;
		color: #fff;
		margin-right: 10px;
		display: inline-block;
		vertical-align: middle;
	}

	input {
		padding: 8px;
		border: none;
		background: rgba(255,255,255,0.8);
		width: 86%;
		display: inline-block;
		box-sizing: border-box;
	}
}

.staffDetailsContainer {

	margin-bottom: 40px;
	padding: 0 40px;

	.profilePicture {
		width: 60px;
		height: 60px;
		background: url('../img/profile-MissHannah.png') no-repeat;
		margin-right: 20px;
		display: inline-block;
		vertical-align: middle;
		border-radius: 40px;
		border: 2px solid #fff;
	}

	.personDetailsContainer {
		display: inline-block;
		vertical-align: middle;
	}

	.profileName {
		font-size: 18px;
	}

	.profileEmail {
		font-size: 14px;
		margin-top: -15px;
	}

}

.mainSidebarMenuList {

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			border-bottom: 2px solid $deep-melon;
			padding: 15px 0 10px 40px;
		}
	}

	.menuIcon {
		font-family: $iconfont;
		font-size: 40px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
	}

	.listItem {
		display: inline-block;
		vertical-align: middle;
	}
}

.logoutContainer {
	text-align: center;
	margin-top: 80px;

	button {
		background: none;
		border: 1px solid $dark-melon;
		border-radius: 20px;
		padding: 10px 85px;
		font-size: 14px;
		color: $dark-melon;
	}
}

.sidebarBackground {

	img {
		width: 100%;
		position: absolute;
		bottom: 0;
	}

}

/* Children List Sidebar */

#childListSidebar {
	background: $grey240;
	color: $grey40;

	.searchIcon {
		font-family: $iconfont;
		font-size: 18px;
		color: $grey40;
		margin-right: 10px;
		display: inline-block;
		vertical-align: middle;
	}
}

.childListSidebarMenuList {

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

}