/* Stylesheet for Journey Tree Desktop App */
/* Variables */
/* Main colours - refer to style guide for names and colours */
/* Header Title in top melon bar */
/* Heading font size gradations */
/* Icons */
/* Mixins */
/* iPad mini styling */
@media only screen and (max-width: 768px) {
  #loginContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #F16259; }

  #loginDiv {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 35%;
    box-sizing: border-box;
    padding: 0 40px; }
    #loginDiv input {
      display: block;
      width: 100%;
      box-sizing: border-box;
      height: 50px;
      border: none;
      border-radius: 5px;
      margin-top: 20px;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.8); }
    #loginDiv button {
      margin-top: 30px;
      background-color: transparent;
      border: 1px solid #983333;
      border-radius: 20px;
      height: 40px;
      width: 55%;
      color: #983333;
      font-size: 18px;
      cursor: pointer; }
    #loginDiv p {
      color: #983333;
      font-size: 12px;
      cursor: pointer; }

  .iconContainer {
    padding: 20px; }

  .iconDiv {
    display: inline-block;
    vertical-align: middle;
    margin-right: 40px; }
    .iconDiv:last-child {
      margin-right: 0px; }

  .icon {
    background: #fff;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    cursor: pointer; } }
/* Styling */
@font-face {
  font-family: "jt-icons";
  src: url("../fonts/jt-iconfont.eot");
  src: url("../fonts/jt-iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/jt-iconfont.woff") format("woff"), url("../fonts/jt-iconfont.ttf") format("truetype"), url("../fonts/jt-iconfont.svg#jt-iconfont") format("svg");
  font-weight: normal;
  font-style: normal; }
html body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #fff;
  font-size: 1em;
  font-family: myriad pro, arial, sans-serif;
  font-weight: lighter; }

.topTitle {
  font-size: 44px;
  font-weight: normal; }

.profileTitle {
  font-size: 50px;
  font-weight: normal; }

h1 {
  font-size: 40px;
  font-weight: normal; }

h2 {
  font-size: 38px;
  font-weight: normal; }

h3 {
  font-size: 36px;
  font-weight: normal; }

h4 {
  font-size: 34px;
  font-weight: normal; }

h5 {
  font-size: 30px;
  font-weight: normal; }

h6 {
  font-size: 28px;
  font-weight: normal; }

/* Global Sidebar Styling */
.sidebarLeft, .sidebarRight {
  position: absolute;
  height: 100%;
  width: 320px;
  background-color: #333;
  box-sizing: border-box; }

.sidebarLeft {
  left: 0; }

.sidebarRight {
  right: 0; }

/* Main Sidebar */
#mainSidebar {
  background-color: #F16259; }

.searchContainer {
  margin-bottom: 40px;
  padding: 10px 10px 0 10px; }
  .searchContainer .searchIcon {
    font-family: jt-icons;
    font-size: 18px;
    color: #fff;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle; }
  .searchContainer input {
    padding: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.8);
    width: 86%;
    display: inline-block;
    box-sizing: border-box;
    height: 50px; }

.staffDetailsContainer {
  margin-bottom: 40px;
  padding: 0 10px; }
  .staffDetailsContainer .profilePicture {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 40px;
    border: 2px solid #fff; }
    .staffDetailsContainer .profilePicture img {
      width: 100%;
      height: 100%;
      border-radius: 40px; }
  .staffDetailsContainer .personDetailsContainer {
    display: inline-block;
    vertical-align: middle; }
  .staffDetailsContainer .profileName {
    font-size: 20px; }
  .staffDetailsContainer .profileEmail {
    font-size: 17px;
    margin-top: -15px; }

.mainSidebarMenuList ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  .mainSidebarMenuList ul li {
    border-bottom: 2px solid #D0504D;
    padding: 12px 0 7px 10px; }
.mainSidebarMenuList .menuIcon {
  font-family: jt-icons;
  font-size: 40px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px; }
.mainSidebarMenuList .listItem {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px; }

.logoutContainer {
  text-align: center;
  margin-top: 80px; }
  .logoutContainer button {
    background: none;
    border: 1px solid #983333;
    border-radius: 30px;
    padding: 16px 85px;
    font-size: 20px;
    color: #983333; }

.sidebarBackground img {
  width: 100%;
  position: absolute;
  bottom: 0; }

/* Children List Sidebar */
#childListSidebar {
  background: #F0F0F0;
  color: #282828; }
  #childListSidebar .searchIcon {
    font-family: jt-icons;
    font-size: 18px;
    color: #282828;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle; }
  #childListSidebar .childListSidebarMenuList ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #childListSidebar .childListSidebarMenuList ul li {
      border-bottom: 2px solid #C8C8C8;
      padding: 10px 10px; }
      #childListSidebar .childListSidebarMenuList ul li:first-child {
        border-top: 2px solid #C8C8C8; }
  #childListSidebar .menuDisplayPicture {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    display: inline-block;
    vertical-align: middle; }
    #childListSidebar .menuDisplayPicture img {
      width: 100%;
      height: 100%;
      border-radius: 30px;
      border: 2px solid #F16259; }
  #childListSidebar .listItem {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px; }

/* Message Sidebar styling for both kids and general */
#messageSidebar-c {
  background: #fff; }
  #messageSidebar-c .messageSidebarMenuList-c ul {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0; }
    #messageSidebar-c .messageSidebarMenuList-c ul li {
      padding: 20px 10px;
      border-bottom: 2px solid #C8C8C8; }
  #messageSidebar-c .messageSidebarMenuList-c .listItem {
    font-size: 20px;
    color: #F16259; }
  #messageSidebar-c .messageSidebarMenuList-c .relationship {
    font-size: 18px;
    color: #C8C8C8; }
  #messageSidebar-c .messageSidebarMenuList-c .menuDisplayPicture {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: inline-block;
    vertical-align: middle; }
    #messageSidebar-c .messageSidebarMenuList-c .menuDisplayPicture img {
      width: 100%;
      height: 100%;
      border-radius: 40px;
      border: 2px solid #F16259; }
  #messageSidebar-c .messageSidebarMenuList-c .textContainer {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px; }
  #messageSidebar-c .messageSidebarMenuList-c .btnContainer {
    text-align: right; }
  #messageSidebar-c .messageSidebarMenuList-c .bioBtn {
    color: #F16259;
    border: 1px solid #F16259;
    text-align: center;
    width: 40px;
    border-radius: 20px;
    padding: 3px 5px;
    display: inline-block;
    line-height: 20px; }
  #messageSidebar-c .messageSidebarMenuList-c .bioDisplay {
    background: #F0F0F0;
    color: #333;
    display: none; }

.headerPlaceholder {
  height: 64px;
  background: #F16259; }
  .headerPlaceholder p {
    margin: 0;
    padding-top: 20px;
    text-align: center; }

.classGallery {
  width: 100%; }
  .classGallery p {
    padding: 0 25px;
    color: #282828; }
  .classGallery div {
    clear: both; }
    .classGallery div a {
      float: left;
      width: 19.53125%;
      margin-right: 0.5859375%;
      margin-bottom: 5px;
      padding: 0; }
      .classGallery div a img {
        width: 100%;
        height: 100%; }
    .classGallery div a:nth-child(5n+0) {
      margin-right: 0; }

/*# sourceMappingURL=style.css.map */
