/* Stylesheet for Journey Tree Desktop App */

/* Variables */


$dark-melon: #983333;

$deep-melon: #D0504D;

$melon: #F16259;

$some-melon: #F16259;

$light-melon: #E9A8A4;

$pale-melon: #FCDCDB;

$grey40: #282828;

$grey80: #505050;

$grey120: #787878;

$grey160: #A0A0A0;

$grey200: #C8C8C8;

$grey240: #F0F0F0;
