#postContainer {

	padding: 115px 20px;;
	box-sizing: border-box;

	.writePost {
		
	}

	.writePostMsg {
		color: $grey160;
	}

	.writePostControls {

		position: fixed;
		display: inline-block;
		bottom: 62px;
		width: 100%;
		background-color: $white;
		left: 0;
		box-sizing: border-box;
		height: 60px;
		padding: 22px 20px;
		z-index: 99;

		.postIcons {
			display: inline-block;
			vertical-align: middle;

			.postIcon {
				font-family: $iconfont;
				font-size: 25px;
				color: $grey160;
				margin-left: 20px;
				display: inline-block;
				vertical-align: middle;

				&:first-child {
					margin-left: 0;
				}
			}
		}

		.postButton {
			color: $melon;
			border: 1px solid $melon;
			border-radius: 40px;
			width: 160px;
			padding: 10px 0;
			background: none;
			font-size: 20px;
			display: inline-block;
			vertical-align: middle;
			text-align: center;
			float: right;
			margin-top: -15px;
		}
		
	}
}


