<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Journey Tree</title>
	<script src='../js/jquery-1.11.3.js' type='text/javascript'></script>
	<script src="../js/templates.js" type="text/javascript"></script>

	<!-- <link rel="stylesheet" type="text/css" href="../css/style.css"> -->

	<script>
		function getChildData(n) {
			window.currentChildData = window.currentChildData || {};
			window.currentChildData.thumbnail = $(n).prop('src');
//			console.log(window.currentChildData);
		}
	</script>
</head>
<body>
	<section id="addImageSidebar" class="sidebarRight right">
		<div class="menuContainer">
			<div class="menuItems">
				<div class="item" id="name">
					<div class="menuIcon">h</div>
					<div class="menuLabel">images</div>
				</div>
			</div>
		</div>
		<div class="searchContainer">
			<div class="searchWrapper">
				<input type="text" class ="search" placeholder="search" onclick="getChildData(this)"/>
			</div>
		</div>
		<!-- Tagging Section -->
		<section id="imageList">
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_01.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_02.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_03.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_04.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_05.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_06.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_07.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_08.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_09.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_10.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_11.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_12.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_13.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_14.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_15.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_16.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_17.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_18.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_19.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_20.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_21.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_22.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_23.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_24.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_25.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_26.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_27.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_28.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_29.jpg" onclick="getChildData(this)"/>
			</span>
			<span class="imgBlock">
				<img src="../img/classroomThumbs/thumb_IMG_30.jpg" onclick="getChildData(this)"/>
			</span>
			<section id="buttonContainer">
				<button>done</button>
				<button>cancel</button>
			</section>
		</section>
	</section>
</body>
</html>