<!DOCTYPE html>
<html>
<head>
	<title>Journey Tree</title>
	<script src='js/jquery-1.11.3.js' type='text/javascript'></script>
    <script src="../js/datautils.js" type="text/javascript"></script>
	<script src="js/templates.js" type="text/javascript"></script>

	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<nav id="botFormatActions">
		<ul>
			<li id="h1Btn" class="formatBtn"><span class="jtIcons">H1</span></li>
			<li id="h2Btn" class="formatBtn"><span class="jtIcons">H2</span></li>
			<li id="quoteBtn" class="formatBtn"><span class="jtIcons">"</span></li>
			<li id="boldBtn" class="formatBtn"><span class="jtIcons">B</span></li>
			<li id="italicBtn" class="formatBtn"><span class="jtIcons">i</span></li>
			<li id="leftJustifyBtn" class="formatBtn"><span class="jtIcons">L</span></li>
			<li id="centerJustifyBtn" class="formatBtn"><span class="jtIcons">C</span></li>
			<li id="rightJustifyBtn" class="formatBtn"><span class="jtIcons">R</span></li>
		</ul>		
	</nav>
</body>
</html>