<!DOCTYPE html>
<html>
<head>
	<title>Journey Tree</title>
	<script src='js/jquery-1.11.3.js' type='text/javascript'></script>
    <script src="../js/datautils.js" type="text/javascript"></script>
	<script src="js/templates.js" type="text/javascript"></script>

	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<nav id="botImgActions">
		<ul>
			<li id="editImageBtn"><span class="jtIcons">2</span></li>
			<li><a href="" alt""><span class="jtIcons">[</span></a></li>
			<li id="likeImageBtn"><span class="jtIcons">e</span></li>
			<li id="deleteImageBtn"><span class="jtIcons">a</span></li>
		</ul>		
	</nav>
</body>
</html>