<!DOCTYPE html>
<html>
<head>
	<title>Journey Tree</title>
	<script src='../js/jquery-1.11.3.js' type='text/javascript'></script>
    <script src="../js/datautils.js" type="text/javascript"></script>
	<script src="../js/templates.js" type="text/javascript"></script>

	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<nav id="botMainNav">
		<ul>
			<li id="mainSidebarBtn"><span class="jtIcons">j</span>more</li>
			<li><a href="../pages/mainMessages.html" alt="messages"><span class="jtIcons">i</span>messages</a></li>
			<li><a href="../pages/classroom.html" alt="classroom"><span class="jtIcons">h</span>images</a></li>
			<li><a href="" alt=""><span class="jtIcons">]</span>camera</a></li>
			<li><a href="" alt=""><span class="jtIcons">x</span>stories</a></li>
			<li><a href="../pages/mainFeed.html" alt=""><span class="jtIcons">1</span>tree</a></li>
		</ul>		
	</nav>
	<div id="loadMainFooter"></div>
	<div id="loadMainSidebar"></div>
</body>
</html>