<!DOCTYPE html>
<html>
<head>
	<title>Journey Tree</title>
	<script src='js/jquery-1.11.3.js' type='text/javascript'></script>
	<script src="js/templates.js" type="text/javascript"></script>

	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<header id="childHeader">
		<section class="left"><span class="jtIcons">}</span></a></section>
		<section class="middleText"> <h1 class="topTitle">Child Name</h1></section>
		<section class="right"></section>
	</header>	
	<nav id="childNav">
		<ul>
			<li id="childTree">tree</li>
			<li id="childImg">images</li>
			<li id="childMsg">message</li>
			<li id="childSty">stories</li>
		</ul>		
	</nav>
</body>
</html>