<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="../js/templates.js" type="text/javascript"></script>
</head>
<body>
    <section id="addchildHeader">
        <div class="childheader">
            <div class="childMasthead">
                <span class="childTreeIcon" id="treeBtn">}</span>

                <h2 class="childTreeIcon">}</h2>
                <h3>Bunnies Room</h3>
             </div>
            <a href="charlotteProfile.html"><img id="childProfilePic" src="../img/charlotteThumbs/thumb_Charlotte_04.jpg"></a>
            <h3>Charlotte Smith</h3>
			<nav id="childNav">
    			<ul>
    				<li id="childTree"><a href="../pages/charlotteTree.html">tree</a></li>
    				<li id="childImg"><a href="../pages/charlotteImages.html">images</a></li>
    				<li id="childMsg"><a href="../pages/charlotteMessages.html">message</a></li>
    				<li id="childSty"><a href="../pages/charlotteStories.html">stories</a></li>
    			</ul>
            </nav>
        </div>
    </section>
</body>
</html>