<!DOCTYPE html>
<html>
<head>
	<title>Journey Tree</title>
	<script src='../js/jquery-1.11.3.js' type='text/javascript'></script>
	<script src="../js/templates.js" type="text/javascript"></script>

	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<section id="childListSidebar" class="sidebarLeft left">
		<div class="searchContainer">
			<div class="searchWrapper">
				<input type="text" class ="search" placeholder="search"/>
			</div>
		</div>
		<div class="childListSidebarMenuList">
			<ul>
				<li>
					<div class="menuDisplayPicture">
						<img src="../img/profile-02-100px.jpg"/>
					</div>
					<div class="listItem">Charlotte Smith</div>
				</li>
				<li>
					<div class="menuDisplayPicture">
						<img src="../img/profile-13-80px.jpg"/>
					</div>
					<div class="listItem">Jacob Hilton</div>
				</li>
				<li>
					<div class="menuDisplayPicture">
						<img src="../img/profile-12-80px.jpg"/>
					</div>
					<div class="listItem">George Jeffries</div>
				</li>
				<li>
					<div class="menuDisplayPicture">
						<img src="../img/profile-10-80px.jpg"/>
					</div>
					<div class="listItem">Delilah Jones</div>
				</li>
				<li>
					<div class="menuDisplayPicture">
						<img src="../img/profile-11-80px.jpg"/>
					</div>
					<div class="listItem">Jack Thomas</div>
				</li>
				<li>
					<div class="menuDisplayPicture">
						<img src="../img/profile-08-80px.jpg"/>
					</div>
					<div class="listItem">Irvin Valinski</div>
				</li>
				<li>
					<div class="menuDisplayPicture">
						<img src="../img/profile-09-80px.jpg"/>
					</div>
					<div class="listItem">Kate Cobbs</div>
				</li>
				<li>
					<div class="menuDisplayPicture">
						<img src="../img/profile-03-80px.jpg"/>
					</div>
					<div class="listItem">Liam Lows</div>
				</li>
				<li>
					<div class="menuDisplayPicture">
						<img src="../img/profile-07-80px.jpg"/>
					</div>
					<div class="listItem">Lilly Biggs</div>
				</li>
			</ul>
		</div>
	</section>
</body>
</html>