<!DOCTYPE html>
<html>
<head>
	<title>Journey Tree</title>
	<script src='js/jquery-1.11.3.js' type='text/javascript'></script>
    <script src="../js/datautils.js" type="text/javascript"></script>
	<script src="js/templates.js" type="text/javascript"></script>

	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<nav id="headerNav">
		<section class="left"><a href="" alt""><h5 class="">select</h5></a></section>
		<section class="middle"> <h1 class="topTitle">Images</h1></section>
		<section class="right"><a href="" alt""><span class="jtIcons">^</span></a></section>
			
	</nav>
</body>
</html>