<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Journey Tree</title>
	<script src='../js/jquery-1.11.3.js' type='text/javascript'></script>
    <script src="../js/datautils.js" type="text/javascript"></script>
	<script src="../js/templates.js" type="text/javascript"></script>

	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<section id="mainSidebar" class="sidebarLeft left">
		<div class="searchContainer">
			<div class="searchWrapper">
				<input type="text" class ="search" placeholder="search"/>
			</div>
		</div>
		<a href="../pages/staffProfile.html">
			<div class="staffDetailsContainer">
				<div class="profilePicture">
					<img src="../img/profile-03-100px.jpg" />
				</div>
				<div class="personDetailsContainer">
					<p class="profileName">Miss Rebecca</p>
					<p class="profileEmail">rebecca@email.com.au</p>
				</div>
			</div>
		</a>
		<div class="mainSidebarMenuList">
			<ul>
				<a href="../pages/childrenPage.html">
					<li>
						<div class="menuIcon">}</div>
						<div class="listItem">Children</div>
					</li>
				</a>
				<a href="../pages/album.html">
					<li>
						<div class="menuIcon">@</div>
						<div class="listItem">Albums</div>
					</li>
				</a>
				<a href="../pages/drafts.html">
					<li>
						<div class="menuIcon">c</div>
						<div class="listItem">Drafts</div>
					</li>
				</a>
				<a href="../learningCentre.html">
					<li>
						<div class="menuIcon">~</div>
						<div class="listItem">Locations</div>
					</li>
				</a>
				<a href="../pages/helpPage.html">
					<li>
						<div class="menuIcon">g</div>
						<div class="listItem">Help</div>
					</li>
				</a>
			</ul>
		</div>
		<div class="logoutContainer">
			<button>Logout</button>
		</div>
		<!-- <div class="sidebarBackground">
			<img src="../img/menuBgScene.png" />
		</div> -->
	</section>
</body>
</html>