<!DOCTYPE html>
<html>
<head>
	<title>Journey Tree</title>
	<script src='../js/jquery-1.11.3.js' type='text/javascript'></script>
	<script src="../js/templates.js" type="text/javascript"></script>
	<script src="../js/sidebars.js" type="text/javascript"></script>

	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<section id="messageSidebar-c" class="sidebarRight right">
		<div class="messageSidebarMenuList-c">
			<ul>
				<li>
					<div class="menuDisplayPicture">
						<img src="../img/profile-01-80px.jpg" />
					</div>
					<div class="textContainer">
						<div class="listItem">Adam Smith</div>
						<div class="relationship">Father of Charlotte</div>
					</div>
				</li>
				<li>
					<div class="menuDisplayPicture">
						<img src="../img/profile-03-100px.jpg" />
					</div>
					<div class="textContainer">
						<div class="listItem">Miss Hannah</div>
						<div class="relationship">Junior staff at Whirlybirds</div>
					</div>
					<div class="btnContainer">
						<div id="hannahBioBtn" class="bioBtn">Bio</div>
					</div>
				</li>
				<li id="hannahBio" class="bioDisplay">
					<p>Miss Hannah has a Dip Ed in early childhood learning and has been a teacher at Sam's ELC for three years.</p>
					<p>She likes outdoor adventures and surfing</p>
				</li>
				<li>
					<div class="menuDisplayPicture">
						<img src="../img/profile-01-100px.jpg" />
					</div>
					<div class="textContainer">
						<div class="listItem">Miss Carol</div>
						<div class="relationship">Director at Whirlybirds</div>
					</div>
					<div class="btnContainer">
						<div id="carolBioBtn" class="bioBtn">Bio</div>
					</div>
				</li>
				<li id="carolBio" class="bioDisplay">
					<p>Miss Carol has a Dip Ed in early childhood learning and has been a teacher at Sam's ELC for three years.</p>
					<p>She likes outdoor adventures and surfing</p>
				</li>
				<li>
					<div class="menuDisplayPicture">
						<img src="../img/profile-02-80px.jpg" />
					</div>
					<div class="textContainer">
						<div class="listItem">Mary Smith</div>
						<div class="relationship">Mother of Charlotte</div>
					</div>
				</li>
			</ul>
		</div>
	</section>
</body>
</html>