<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Journey Tree</title>
	<script src='../js/jquery-1.11.3.js' type='text/javascript'></script>
    <script src="../js/datautils.js" type="text/javascript"></script>
	<script src="../js/templates.js" type="text/javascript"></script>

	<!-- <link rel="stylesheet" type="text/css" href="../css/style.css"> -->
</head>
<body>
	<section id="tagSidebar" class="sidebarRight right">
		<div class="menuContainer">
			<div class="menuItems">
				<div class="item" id="name">
					<div class="menuIcon">k</div>
					<div class="menuLabel">name</div>
				</div>
				<div class="item" id="frameworks">
					<div class="menuIcon">f</div>
					<div class="menuLabel">frameworks</div>
				</div>
				<div class="item" id="activities">
					<div class="menuIcon">></div>
					<div class="menuLabel">activities</div>
				</div>
			</div>
		</div>
		<div class="searchContainer">
			<div class="searchWrapper">
				<input type="text" class ="search" placeholder="search"/>
			</div>
		</div>
		<!-- Tagging Section -->
		<section id="tagList">
			<ul>
				<li>
					<div class="profilePicture">
						<img src="../img/profile-02-100px.jpg" />
					</div>
					<div class="personName">Charlotte Smith</div>
				</li>
				<li>
					<div class="profilePicture">
						<img src="../img/profile-13-80px.jpg" />
					</div>
					<div class="personName">Jacob Hilton</div>
				</li>
			</ul>
			<section id="buttonContainer">
				<button class="doneBtn">done</button>
				<button class="cancelBtn">cancel</button>
			</section>
		</section>
		<!-- Framworks Section -->
		<section id="frameworksList">
			<ul>
				<li class="li-frameworks">
					<p class="title">1.0 Connectedness</p>
					<p class="content">1.1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</p>
				</li>
				<li class="li-frameworks">
					<p class="content">1.2 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</p>
				</li>
				<li class="li-frameworks">
					<p class="content">1.3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</p>
				</li>
				<li class="li-frameworks">
					<p class="title">2.0 Wellbeing</p>
					<p class="content">2.1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</p>
				</li>
				<li class="li-frameworks">
					<p class="content">2.2 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</p>
				</li>
			</ul>
			<section id="buttonContainer">
				<button class="doneBtn">done</button>
				<button class="cancelBtn">cancel</button>
			</section>
		</section>
		<!-- activities section -->
		<section id="activitiesList">
			<ul>
				<li class="li-activities">
					<p>Painting</p>
				</li>
				<li class="li-activities">
					<p>Dance & Movement</p>
				</li>
				<li class="li-activities">
					<p>Building Blocks</p>
				</li>
			</ul>
			<section id="buttonContainer">
				<button class="doneBtn">done</button>
				<button class="cancelBtn">cancel</button>
			</section>
		</section>
	</section>
</body>
</html>